<!DOCTYPE html>
<html lang="en">
<head>
  <title>Draw Your Data</title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' %>

<%= yield %>

<script type="text/javascript">
  var rumbleBannerBackgroundColor,
      rumbleBannerTextColor,
      rumbleBannerLinkColor,
      rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#f8f8f8";
  rumbleBannerTextColor = "#777777";
  rumbleBannerLinkColor = "##3a87ad";
  rumbleBannerPlacement = "bottom";
</script>
<script src="http://s0.railsrumble.com/banner.js"
        type="text/javascript"></script>

</body>
</html>
